# Token do seu bot do Discord (https://discord.com/developers/applications)
TOKEN=seu_token_do_discord

# Credenciais da API do Spotify (https://developer.spotify.com/dashboard)
SPOTIFY_CLIENT_ID=seu_client_id
SPOTIFY_CLIENT_SECRET=seu_client_secret
